* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  
  li{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .header-container {
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    z-index: 10;
    width: 100%;
  }
  
  
  .header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-info .logo {
    display: flex;
  }
  
  .header-info .logo img {
    width: 100%;
    height: 4.5rem;
    border-radius: 50%;
    margin-left: 40%;
  }
  

  .header-info ul {
    margin-left: 46rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1.1rem;
  }


  .header-info p {
    padding: 0;
    margin: 0;
    color: #37daf0;
    font-size: 1.2rem;
  }
  
  .header-info a {
    color: white;
    transition: 1s;
   
  }
  
  .header-info a:hover{
    font-size: 1.1rem;
    color: rgb(98, 210, 224);
  }

  .cat-prod{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  }

  .cat-prod .cat{
    box-shadow: 6px 7px 2px rgb(100, 98, 98);
    margin-bottom: 2rem;
    padding: 2rem;
  }

  .products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .container-products{
    margin-bottom: 2rem;
  }

  

  .footer-container{
    background-color: rgba(0, 0, 0, 0.932);
    width: 122%;
    margin-left: -8.1rem;
    margin-bottom: -1rem;
    padding-top: 1.5rem;
    margin-top: -12rem;

  }

  .footer-container p{
    color: #fff;
  }

  .footer-container p a{
    color: #37daf0;
    font-size: larger;
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .maded{
    background-color: rgb(5, 5, 5);
    width: 100%;
    margin-top: 0.8rem;
    color: #fff;
    display: flex;
    justify-content: center;
    
  }

  .maded p{
    margin-top: 0.7rem;
  }
 
  @media only screen and (max-width: 900px) {
    
    .header-container{
      max-width: 100%;
     
      
    }

    .header-info .logo img {
      width: 104px;
      height: 4rem;
      border-radius: 50%;
      margin-left: -7%;
    }
    .header-info ul {
      margin-left: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      font-size: 1rem;
    }

    .products{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 11%;
    }
   
    .list-prod img{
      width: 300px;
      border: .5rem solid black;
    } 


    .footer-container{
      width: 106.4%;
      margin-left: -0.7rem;
    }
  }

  body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 103rem;
    

}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    gap: 25px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;  
}

.manual-btn:hover{
    background-color: rgb(255, 255, 255);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 10rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

@media only screen and (max-width: 900px) {
    .slider{
        margin: 0 auto;
        width: 108%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 2rem;
        margin-left: -1rem;
        margin-top: 177rem;
    
    }

    .slides{
        width: 400%;
        height: 400px;
        display: flex;
        
    }
    .manual-btn{
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 10px;
        transition: .2s;  
    }
    .manual-btn:hover{
        background-color: rgb(190, 190, 190, .2);
    }

    
.navigation-auto{
    position: absolute;
    width: 400px;
    margin-top: 280px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 0rem;
}


.manual-navigation{
    position: absolute;
    width: 400px;
    gap: 25px;
    margin-top: -120px;
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    
}
}

.dento-contact-area {
	position: relative;
	z-index: 1; }
	.dento-contact-area .google-maps {
	  position: relative;
	  z-index: 1;
	  width: 100%;
	  height: 470px; }
	  @media only screen and (max-width: 767px) {
		.dento-contact-area .google-maps {
		  height: 280px; } }
	  .dento-contact-area .google-maps iframe {
		width: 100%;
		height: 100%;
		border: none; }
  
  .contact-information {
	position: relative;
	z-index: 1;
	padding: 30px 50px;
	background-color: #000000;
	/* info do contato */
	border-radius: 3px; }
	@media only screen and (max-width: 767px) {
	  .contact-information {
		margin-bottom: 70px;
		margin-left: 1.3rem;
	 } }
	.contact-information h5 {
	  color: #ffffff; }
	.contact-information p {
	  color: #ffffff; }
  
  .contact-form {
	position: relative;
	z-index: 1; }
	.contact-form .form-control {
	  width: 100%;
	  height: 46px;
	  padding: 0 15px;
	  font-size: 13px;
	  font-style: italic; }
	  .contact-form .form-control:focus {
		box-shadow: none;
		border-color: #000000; }
	.contact-form textarea.form-control {
	  height: 110px;
	  padding: 15px; }