{% extends 'main.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}


{% if page == 'login' %}

<div class="header-container">
    <div class="header-info">
        <div class="logo">
          
        </div>
        <ul class="menu-links">
          <li>
              <a href="#inicio">Início</a>
          </li>
          <li>
              <a href="#contato">Contato</a>
          </li>    
          <li>
              <a href="#localizacao" >Localização</a>
          </li>    
        </ul>
    </div>
</div>

<section class="dento-contact-area mt-50 mb-100">
    <div class="container">

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4" style="margin-left: -.7rem;">
          <div class="contact-information">
            <h5>Endereço</h5>
            <p>Rua Senador Lourival Batista, Poço Redondo - SE</p>

            <h5>Telefone</h5>
            <p>+55 79 999705541</p>

            

            <h5>Email</h5>
            <p class="mb-0">hiagoprado57@gmail.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Entre em Contato</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-30" placeholder="Seu Nome ">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30" placeholder="Seu Email">
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Sua Mensagem"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Enviar Mensagem</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe id="localizacao" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1885.4896999159835!2d-37.68497408021979!3d-9.804821551172868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x70f391e81f47bb3%3A0xe9ff04384e6bb149!2sAg%C3%AAncia%20dos%20Correios%20-%20Po%C3%A7o%20Redondo!5e0!3m2!1spt-BR!2sbr!4v1697060862265!5m2!1spt-BR!2sbr"
              allowfullscreen></iframe>
              
          </div>
        </div>
      </div>
    </div>
  </section>


{% else %}

<div class="header-bar">
    <h1>Registro</h1>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top: 10px;" class="button" type="submit" value="Registrar">
    </form>

    <p>Já se registrou? <a href="{% url 'login' %}">Login</a></p>
    
</div>

{% endif %}

{% endblock content %}